<footer class="row pt-5 bg-primary">
  <div class="col-12">
    <div class="container h-100">
      <div class="row justify-content-center align-content-center pb-5">
        <div class="col-11 col-md-6 my-5 my-md-0 text-start d-flex flex-column justify-content-center justify-content-md-start align-items-center">
          <a class="text-decoration-none" [routerLink]="['/']" >
            <img class="img-fluid custom-width" src="assets/images/svg/logo.svg">
          </a>
        </div>
        <div class="col-11 col-md-6 mt-3 mt-md-0 text-center text-md-start">
          <h4 class="fs-4 text-light text-center text-md-start mb-4"><b>Site Map</b></h4>
          <ul class="list-unstylized px-0">
            <li class="d-flex justify-content-center justify-content-md-start align-items-center mb-2">
              <a class="text-decoration-none text-light fs-6 mb-0" [routerLink]="['/']">Home</a>
            </li>
            <li class="d-flex justify-content-center justify-content-md-start align-items-center mb-2">
              <a class="text-decoration-none text-light fs-6 mb-0" [routerLink]="['/weather/LWX']">District of Columbia Forecast</a>
            </li>
            <li class="d-flex justify-content-center justify-content-md-start align-items-center mb-2">
              <a class="text-decoration-none text-light fs-6 mb-0" [routerLink]="['/weather/TOP']">Kansas Forecast</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
